<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="displayheight" content="31, 60, 90, 125, 250, 400, 600" />
        <link rel="stylesheet" type="text/css" href="{{ad_css}}" />
    </head>
    <body>
        <div id="banner">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Адаптивный для новой верстки от Дениса -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1775074057792174"
                 data-ad-slot="6094665341"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </body>
</html>