<div class="search_box">
    <!--search-->
<div class="input-group">
        <input type="text" class="form-control search_unit_query">
        <span class="input-group-btn">
            <span class="btn btn-default"><i class="glyphicon glyphicon-search btn_search_unit">&nbsp;</i></span>
        </span>
    </div>
    <!--xs-->
    <div class="box_search_pop">
        <a class="btn search" data-toggle="modal" href="#myModal" >&nbsp;</a>
        <div class="modal" id="myModal">
            <div class="box_modal_search">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control search_unit_query">
                        <span class="input-group-btn">
                            <span class="btn btn-default glyphicon glyphicon-search btn_search_unit">&nbsp;</span>
                        </span>
                    </div>
    </div>
            </div>
        </div>
    </div>
    <!--//xs-->
    <!--//search-->
</div>